apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: devpi
  namespace: devpi
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/auth-type: basic
    nginx.ingress.kubernetes.io/auth-secret: devpi-basic-auth
    nginx.ingress.kubernetes.io/auth-realm: "devpi"
    nginx.ingress.kubernetes.io/proxy-body-size: "500m"
spec:
  ingressClassName: nginx
  tls:
    - secretName: devpi-tls
      hosts:
        - pypi.theedgeworks.ai
  rules:
    - host: pypi.theedgeworks.ai
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: devpi
                port:
                  number: 3141
