apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - postgres.yaml
  - redis.yaml
  - helmrelease.yaml
  # Note: helmrepository.yaml is managed in flux-system/kustomization.yaml to avoid duplicates 